:root {
  --font-family-1: "DynaPuff", system-ui;
  --font-family-2: "Truculenta", sans-serif;
  --first-color: #f0f2eb;
  --second-color: #b5592a;
  --third-color: #f09027;
  --fourth-color: #8cbeaa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.25rem;
}

.hero {
  height: 100vh;
  background: url("/Images/hero.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--first-color);
  padding: 20px;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero-content {
  position: relative;
  z-index: 2;
}
.hero h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: var(--font-family-2);
}

.flip {
  display: inline-block;
  transform: scaleX(-1); /* Flips horizontally */
}

.hero h1 {
  font-size: 5rem;
  margin-bottom: 10px;
  font-family: var(--font-family-1);
}

.hero h2 {
  margin-bottom: 20px;
  font-family: var(--font-family-2);
  font-size: 3rem;
}

.hero button {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  background: var(--second-color);
  color: var(--fourth-color);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 1rem;
  font-family: var(--font-family-1);
  font-weight: normal;
}

.hero button:hover {
  background: var(--third-color);
}

/* 2 Column Section*/

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px auto;
  max-width: 97vw;
}

.column {
  background: var(--first-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.container h1 {
  color: var(--second-color);
  text-align: center;
  font-family: var(--font-family-1);
  margin-bottom: 15px;
}

.container h2 {
  text-align: center;
  color: var(--second-color);
  font-family: var(--font-family-1);
  margin: 10px auto;
}

.column h3 {
  font-family: var(--font-family-2);
  text-align: center;
}

label,
.result-box,
.results {
  font-family: var(--font-family-2);
  letter-spacing: 1px;
  text-align: center;
}

.tool-button {
  display: block;
  margin: 10px auto; /* Centers the button horizontally */
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

/*instagram container*/
.instagram-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

/* Slideshow Container */
.slideshow-container {
  position: relative;
  max-width: 97vw;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Slides */
.slide {
  display: none;
  padding: 20px 40px;
  text-align: center;
  background: var(--first-color);
  font-family: var(--font-family-2);
}

.slide h2 {
  font-family: var(--font-family-1);
  color: var(--second-color);
}
.slide p,
.column li {
  font-family: var(--font-family-2);
  letter-spacing: 1px;
}
/* Show the first slide */
.active {
  display: block;
}

/* Navigation buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--second-color);
  color: var(--fourth-color);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: black;
}

.video-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.video {
  aspect-ratio: 16/9;
  margin: 0 auto;
  width: 100%;
}

input,
select,
.steps p {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  font-family: var(--font-family-2);
  letter-spacing: 1px;
}

input:focus,
select:focus {
  border-color: var(--fourth-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feed-calc {
  margin-bottom: 40px;
}

.timer {
  font-size: 60px;
  margin: 20px 0;
  text-align: center;
  font-family: var(--font-family-1);
}

button {
  background: var(--fourth-color);
  color: var(--second-color);
  border: none;
  font-weight: bold;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-family-1);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: var(--second-color);
  color: var(--fourth-color);
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

button:active {
  background: var(--third-color);
}

.step-back,
.step-next,
.start-over {
  background: var(--second-color);
  color: var(--fourth-color);
}

.prev:hover,
.next:hover,
.start-over:hover {
  background: var(--fourth-color);
  color: var(--second-color);
}

/*footer*/
.bread-left {
  transform: scaleX(-1);
  display: inline-block;
}
.bread-right {
  transform: translateX(-12px);
  display: inline-block;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("/Images/footer.jpg");
  padding: 190px 20px;
  font-family: var(--font-family-2);
  text-align: center;
}

footer h3 {
  font-family: var(--font-family-1);
  font-size: 1.75rem;
  margin: 20px auto;
}

footer p,
footer a {
  font-family: var(--font-family-2);
  font-size: 1rem;
  letter-spacing: 1px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

@media (max-width: 960px) {
  .hero-content {
    padding: 0 20px;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero h2 {
    font-size: 1rem;
  }
  .hero h3 {
    font-size: 2rem;
  }
  .hero button {
    padding: 10px 20px;
    font-size: 1rem;
  }
  .why-sourdough {
    flex-direction: column;
    text-align: center;
  }
  .image-container,
  .text-container {
    max-width: 100%;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .recipe,
  .starter {
    width: 97vw;
  }
  footer {
    font-size: 1rem;
    background-position: center;
    padding: auto;
  }
  .bread-right {
    transform: translateX(-13px);
    display: inline-block;
  }

  button {
    font-size: 14px;
  }

  .grid,
  .video-grid {
    grid-template-columns: 1fr;
  }

  .instagram-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .instagram-grid {
    grid-template-columns: 1fr; 

}
  .instagram-media {
    width: 100% !important; 
  }
}