:root {
  --font-family-1: "DynaPuff", system-ui;
  --font-family-2: "Truculenta", sans-serif;
  --first-color: #f0f2eb;
  --second-color: #b5592a;
  --third-color: #f09027;
  --fourth-color: #8cbeaa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.25rem;
}

.hero {
  height: 100vh;
  background: url("/Images/hero.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--first-color);
  padding: 20px;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero-content {
  position: relative;
  z-index: 2;
}
.hero h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: var(--font-family-2);
}

.flip {
  display: inline-block;
  transform: scaleX(-1); /* Flips horizontally */
}

.hero h1 {
  font-size: 5rem;
  margin-bottom: 10px;
  font-family: var(--font-family-1);
}

.hero h2 {
  margin-bottom: 20px;
  font-family: var(--font-family-2);
  font-size: 3rem;
}

.hero button {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  background: var(--second-color);
  color: var(--fourth-color);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 1rem;
  font-family: var(--font-family-1);
  font-weight: normal;
}

/* 3 Column Section*/
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px auto;
  max-width: 97vw;
}

.column {
  background: var(--first-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.container h1 {
  color: var(--second-color);
  text-align: center;
}
.container h2 {
  text-align: center;
  color: var(--second-color);
}

.hero button:hover {
  background: var(--third-color);
}

/*footer*/
footer {
  background: var(--second-color);
  color: var(--fourth-color);
  text-align: center;
  padding: 10px 0;
  font-family: var(--font-family-2);
  font-size: 1.5rem;
}
footer a {
  color: var(--fourth-color);
  font-weight: bold;
  text-decoration: none;
}
.bread-left {
  transform: scaleX(-1);
  display: inline-block;
}
.bread-right {
  transform: translateX(-20px);
  display: inline-block;
}

@media (max-width: 900px) {
  .hero-content {
    padding: 0 20px;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero h2 {
    font-size: 1rem;
  }
  .hero h3 {
    font-size: 2rem;
  }
  .hero button {
    padding: 10px 20px;
    font-size: 1rem;
  }
  .why-sourdough {
    flex-direction: column;
    text-align: center;
  }
  .image-container,
  .text-container {
    max-width: 100%;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  footer {
    font-size: 1rem;
  }
  .bread-right {
    transform: translateX(-15px);
    display: inline-block;
  }
}
